@media only screen and (max-width:768px){
body{line-height:2.1em}
body,body>footer .inner,body>header>.inner{min-width:0}
#brandSinglePage #atf>.inner>.btnWrap>ul>li>a,.cmnBtn{font-size:16px;padding:15px 20px;letter-spacing:.25em}
#gnavPanel>ul>li>a,.title,.titleSub{letter-spacing:.125em}
a .cmnBtn2{width:50%;min-width:180px;margin-top:30px}
.iconBtn>span>svg{width:30px!important;height:30px!important;margin-right:15px!important}
.sec>.inner{padding-top:60px;padding-bottom:60px}
#gnavPanel{position:fixed;right:0;visibility:hidden;min-width:100%;height:100%;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);opacity:0;background-color:#fff}
#gnavPanel.open,#gnavPanel.open *{pointer-events:visible}
#gnavPanel.open{visibility:visible;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);opacity:1}
#gnavPanel>ul{position:absolute;top:0;bottom:0;left:0;height:90vw;margin:auto}
#gnavPanel>ul>li{float:none;margin-left:0}
#gnavPanel>ul>li>a{font-size:6vw;line-height:9vw;padding:2vw 0;text-align:center}
.detailsWrap>.intro>p,dl.acMenu>dt{text-align:justify}
#gnavPanel>ul>li>a:after,#gnavPanel>ul>li>a:before{display:none}
#gnavBtn{right:10px;display:block}
.titleWrap.setA{margin-bottom:165px}
.titleWrap.setA:before{top:95px}
.titleWrap.setA>.title{font-size:30px}
.titleWrap.setB{margin-bottom:30px}
.titleWrap.setB>.title{font-size:20px}
.titleWrap.setC>.title{font-size:14px;margin-bottom:0}
.titleWrap.setC>.titleSub{font-size:20px}
.titleWrap.lineStyle>.title>.frame{padding-right:20px}
.titleWrap>.titleSub{font-size:12px;margin-top:5px}
#innerPage>.contentWrap>.sec:nth-child(1)>.inner>.titleWrap>.title>.triggerSub>span,#innerPage>.contentWrap>.sec:nth-child(1)>.inner>.titleWrap>.triggerSub>span,#topPage #atf .title>.frame>span,.trigger1 .inner>.titleWrap>.title>.triggerSub>span,.trigger1 .inner>.titleWrap>.titleSub.triggerSub>span,.trigger1 .inner>.titleWrap>.triggerSub>span,.trigger1.innerSub .triggerSub>span{min-width:5px}
#innerPage.loadComp>.contentWrap>.sec:nth-child(1)>.inner>.titleWrap.setA:before,.trigger1.active .titleWrap.setA:before{height:60px}
#atf>.inner.fullScreen{max-width:100%;margin:0;padding:0 30px}
.scroll{right:30px;left:initial}
.scroll>span>span{left:0}
#pagetop>.inner>.scroll{left:-10px}
.imgTxt{display:none}
.imgWrap{width:100%!important;height:50vw!important}
.layered>.imgWrap{
    height:60vw!important;
}
.layered>.txtWrap{
    width:100%!important;
    margin-top:0;padding:60px 0 0!important;
    background-color:transparent;
}
.brandList>li>a .txtWrap{padding:30px 0 0!important}
#brandSinglePage #overview>.inner .txtWrap>.title,.layered>.txtWrap>.title{
    font-size:24px!important;
}
.layered>.txtWrap>.caption{
    margin-top:15px!important;
}
.detailsWrap>.intro{
    margin-bottom:30px;
}
.sec>.inner>.detailsWrap>.innerSub{padding-top:80px}
.horizontal{margin-top:30px}
.horizontal>.txtWrap{width:100%;margin-top:30px;padding-right:0}
.horizontal>.txtWrap>dl>dd{margin-top:20px}
.horizontal.set3>li{float:none;width:100%;margin:30px 0 0}
.horizontal.set3>li:first-child{margin-top:40px}
.spAdjust{padding-right:0;padding-left:0}
.spAdjust>.titleWrap{padding-right:30px;padding-left:30px}
.spAdjust>.detailsWrap .layered>.imgWrap{
    padding-right:30px;
}
.spAdjust>.detailsWrap .layered>.imgWrap>.frame{
    border-radius:0 10px 10px 0;
}
.spAdjust>.detailsWrap>.alternate>li:nth-child(odd) .layered>.imgWrap{
    padding-right:0;
    padding-left:30px;
}
.spAdjust>.detailsWrap>.alternate>li:nth-child(odd) .layered>.imgWrap>.frame{
    border-radius:10px 0 0 10px;
}



a .cmnBtn2{border:2px solid white;}
a .cmnBtn2>span {color: white;}
a .cmnBtn2>span:before {background-color: white;}




.spAdjust>.detailsWrap .layered>.txtWrap,.spAdjust>.detailsWrap>.innerSub{padding-right:30px!important;padding-left:30px!important; color: white;}
.spAdjust>.detailsWrap>.cmnBtn{width:calc(100% - 60px);margin-right:auto;margin-left:auto}
.acMenuWrap>li{margin-bottom:30px}
dl.acMenu>dt{font-size:14px;padding:15px 50px 15px 20px}
dl.acMenu>dt:after,dl.acMenu>dt:before{right:20px;width:20px}
dl.acMenu>dd{padding-top:30px}
table.basic>tbody>tr>td,table.basic>tbody>tr>th{font-size:12px;line-height:24px;padding:15px 0}
table.basic>tbody>tr>td>p{padding:2.5px 0}
table.basic>tbody>tr>td>span{font-size:10px;line-height:20px}
#form>table.basic>tbody>tr{margin-bottom:15px;padding-bottom:20px}
#form>table.basic>tbody>tr:last-child{margin-bottom:0;padding-bottom:0}
#form>.basic>tbody>tr>td,#form>table.basic>tbody>tr>th{display:block;float:none;width:100%;padding-top:0;padding-right:0!important}
#form>table.basic>tbody>tr>th{padding-bottom:5px}
#form>.basic>tbody>tr>td{padding-bottom:0}
#form>.attentionWrap>p{margin-bottom:-20px}
#innerPage>.contentWrap>.sec:nth-child(1){margin-top:30px}
.cmnBtn:hover{color:#fff;border:1px solid #3f3b3a;background-color:#3f3b3a}
dl.acMenu>dt:hover{color:#3f3b3a;background-color:#fff}
.colorInvert dl.acMenu>dt:hover{color:#fff;background-color:#3f3b3a}
dl.acMenu>dt:hover:after,dl.acMenu>dt:hover:before{background-color:#3f3b3a}
.colorInvert dl.acMenu>dt:hover:after,.colorInvert dl.acMenu>dt:hover:before{background-color:#fff}
.brandList>li>a:hover .imgWrap{top:0}
a:hover .cmnBtn2{background-color:transparent}
a:hover .cmnBtn2>span{color:#3f3b3a}
a:hover .cmnBtn2:before{width:0}
a:hover .cmnBtn2>span:before{width:100px}
.brandList>li>a:hover .imgWrap>.frame{-webkit-box-shadow:0 40px 50px -50px rgba(0,0,0,.05);box-shadow:0 40px 50px -50px rgba(0,0,0,.05)}
.brandList>li>a:hover .imgWrap>.frame>.bg{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
#news>.inner ul>li>.newsSingle:hover{padding-left:0}
#news>.inner ul>li>.newsSingle:hover>.title:before{width:30px}
.cmnBtn.onlineStore:hover{color:#fff;background-color:#f39700}
.cmnBtn.brandSite:hover .st0,.cmnBtn.onlineStore:hover .st0{fill:#fff}
.cmnBtn.brandSite:hover{color:#fff;background-color:#946f38}
#brandSinglePage #overview>.inner .btnWrap>.snsList>ul>li>a,.scroll:hover,body>footer a:hover{opacity:1}
body>header>.inner{padding-right:30px;padding-left:30px}
body>header{height:60px}
body>header #headerLogo{padding:15px 0}
body>header #headerLogo>a>img{
    transform: scale(0.9);
    position: absolute;
    top: -2.2vh;
    left: -5vw;
}
#pagetop{display:none}
body>footer .inner>div{float:none;width:100%}
body>footer #footerLogo>img{margin:auto auto 30px}
body>footer .nav>li{margin-left:0;text-align:center}
body>footer #footerTop .nav{padding-top:60px}
body>footer #footerTop .nav>li{font-size:10px;width:33.3%}
body>footer #footerTop .nav>li:first-child{font-size:14px;position:absolute;top:0;right:0;left:0;margin:auto;padding-right:0}
body>footer #footerTop .nav>li:first-child:after,body>footer #footerTop .nav>li:first-child:before{width:100%}
body>footer #footerTop .nav>li:first-child:before{left:100%}
body>footer #footerTop .nav>li:first-child:after{right:100%;display:block}
body>footer #footerBottom .nav{display:table;max-width:280px;margin:0 auto 30px}
body>footer #footerBottom .nav>li{display:table-cell;float:none}
body>footer #copyright,body>footer #copyright>a{font-size:10px;text-align:center}
/* #topPage #atf{min-height:0} */
#topPage #atf .title{
    font-size:10vw;
    top:0px;
    line-height:1.6em;
    height:4.8em;
}
#topPage #slideWrap{
    padding:60px 12vw 60px 20px;
    top: 10px;
    right: 10px;
}
#news>.inner ul{width:100%;margin-top:0}
#news>.inner ul>li>.newsSingle{padding:10px 0}
#news>.inner ul>li>.newsSingle>time{font-size:10px}
#news>.inner ul>li>.newsSingle>.title{font-size:12px;position:relative;width:100%;padding-right:50px}
#news>.inner ul>li>.newsSingle>.title:before{width:30px}
#aboutUs .inner>.detailsWrap,#brands .inner>.detailsWrap{margin-top:-50px}
#brandListPage .brandList>li{margin-bottom:60px}
#brandListPage .brandList>li>.imgWrap{position:relative;right:0;height:60vw!important;margin-bottom:30px;padding-left:0}
#brandListPage .brandList>li>.imgWrap>.frame{width:100%;border-radius:0}
#brandSinglePage #atf{height:auto!important;min-height:0;max-height:100%;padding:60px 0 0}
#brandSinglePage #atf>.frame{height:80vw}
#brandSinglePage #atf>.inner{margin-top:-20px}
#brandSinglePage #atf>.inner.fullScreen{position:relative;height:auto}
#brandSinglePage #atf>.inner>.btnWrap,#brandSinglePage #atf>.inner>.txtWrap{float:none}
#brandSinglePage #atf>.inner>.txtWrap{position:relative;width:100%;margin-bottom:50px}
#brandSinglePage #atf>.inner>.txtWrap>.title>img{height:30px}
#brandSinglePage #atf>.inner>.txtWrap>p{line-height:1.75em;margin-top:10px}
#brandSinglePage #atf>.inner>.btnWrap{position:relative;top:0;width:100%;margin:0 auto;padding:0}
#brandSinglePage #atf>.inner>.btnWrap>ul>li{float:none;width:100%;margin-bottom:20px;padding-left:0}
#brandSinglePage #atf>.inner>.btnWrap>ul>li:last-child{margin-bottom:0}
#brandSinglePage #atf>.inner>.btnWrap>ul>li>a>span>svg{margin:0}
#brandSinglePage #overview>.inner .txtWrap>.title{font-size:24px}
#brandSinglePage #overview>.inner .txtWrap>.caption{margin-top:15px}
#brandSinglePage #overview>.bg{height:60vw}
#brandSinglePage #overview>.inner .gallery{margin-top:60px}
#brandSinglePage #overview>.inner .gallery>li{width:50%}
#brandSinglePage #overview>.inner .gallery>li:first-child{width:100%;margin-bottom:30px}
#brandSinglePage #overview>.inner .gallery>li:nth-child(2){margin:0;padding-right:15px}
#brandSinglePage #overview>.inner .gallery>li:nth-child(3){padding-left:15px}
#brandSinglePage #overview>.inner .btnWrap{margin-top:60px}
#brandSinglePage #overview>.inner .btnWrap>ul>li{float:none!important;max-width:550px;margin:0 auto}
#brandSinglePage #overview>.inner .btnWrap>.snsList{width:100%;height:auto;margin-bottom:40px}
#brandSinglePage #overview>.inner .btnWrap>.snsList:before{display:none}
#brandSinglePage #overview>.inner .btnWrap>.snsList>p,#brandSinglePage #overview>.inner .btnWrap>.snsList>ul{float:none;padding:0}
#brandSinglePage #overview>.inner .btnWrap>.snsList>p{text-align:center;letter-spacing:.125em}
#brandSinglePage #overview>.inner .btnWrap>.snsList>ul{display:table;margin:auto}
#brandSinglePage #overview>.inner .btnWrap>.snsList>ul>li{display:table-cell}
#brandSinglePage #overview>.inner .btnWrap .cmnBtn{margin-top:20px}
.iziModal-overlay>span{display:none}
.modalBody{padding:60px 30px}
.modalBody>.title{font-size:18px;padding-bottom:10px}
#brandSinglePage #atf>.inner>.txtWrap>.title>.lebenaLogo{height:auto !important;width:calc(100% - 10px);padding-right: 10px;}
}
@media only screen and (max-width:320px){
a .cmnBtn2{min-width:0}
}
@media only screen and (max-width:1600px){
    [data=lebenaorganic] #brandLogo{width:auto;height:70px !important}
}